<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Azure Bed stories" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Azure Bed Stories</title>
</head>
<body>
    <div id="body">
        <h1 id="header">Welcome to Azure Bed stories</h1>

        <div id="myText">
            <label for="input">What would you like to be the fairytale tonight?</label>
        </div>
        <div id="myInput">
            <form method="POST">
                <input id="input" type="text" name="input" placeholder="Enter text here">
                <input type="submit" id="btn" value="Create Fairytale"></button>
            </form>
        </div>
        <div id="myCheck">
            <input type="checkbox" id="agelimit" name="vehicle1" value="old">
            <label for="agelimit">I am 18 years or older</label>
        </div>
    </div>

</body>
</html>