# BEGIN: .NET Core ###
# .NET Core Build Output
bin/
obj/

# .NET Core IDE files
.vscode/
*.sln.ide
.vs/
*.user

# .NET Core NuGet Packages
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

# .NET Core Testing
TestResults/
[Bb]uild/

# END: .NET Core ###
