@model Battle_Royal_AI.FairytaleModel 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Azure Bed Stories</title>
</head>
<body>
    <div id="body">

        <h1 id="header">Fairytale</h1>

        <div id="myImage">
            <img id="imageitself" src="@Model.Image" alt="Image description here">
        </div>

        <div id="myText">
            <p>@Model.Fairytale</p>
        </div>    

        <div id="myInput">
            <button id="btn" onclick="play()">
            Play
            <img id="sound" src="/audio.png" alt="Test">
            </button>

            <audio id="myAudio">

            <source src="/api/speech?prompt=@Model.Fairytale" type="audio/mp3">
            Your browser does not support the audio tag.
        </audio>

        </div> 
        <button id="back" onclick="goBack()">Go Back</button>   
    </div>

        <script>
            function play() {
                var audio = document.getElementById("myAudio");
                audio.play();
            }

            function goBack() {
                var newUrl = 'http://localhost:5276/welcome';

                window.location.href = newUrl;
            }
        </script>

</body>
</html>